@model IEnumerable<CooperateMVC.Models.KycRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RCNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedLawyerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTimeUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedLawyerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTimeUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RCNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RCNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RCNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
